.heroSection {
  border: 2px solid red;
}

.yogaMan {
  padding-top: 8rem;
}

.yogaManImage {
  width: 30rem;
  height: auto;
}

.htmlIcon,
.cssIcon,
.javascriptIcon,
.nodejslIcon,
.reactjsIcon,
.cppIcon,
.pythonIcon,
.mysqlIcon,
.posgresqlIcon,
.githubIcon,
.photoshopIcon,
.rubyIcon,
.railsIcon {
  width: 40px;
  height: auto;
}