.footerSection {
	padding: 3rem 0rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	background-color: var(--deep-purple);
	color: var(--neutral-white);
}

.socialMedia {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	font-size: 2.5em;
}

.socialMedia a {
	color: var(--neutral-white);
}

.createdBy {
	font-size: 1.2em;
}

.copyright {
	font-size: 0.8em;
}