.projectModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.projectModalContant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: linear-gradient(to top,
      var(--light-lavender),
      var(--neutral-white));
  padding: 2rem;
  border-radius: 1rem;
  width: 45%;
  height: 65%;
  max-width: 70rem;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.projectImages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.projectImages img {
  width: 20vw;
  height: 20vh;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.nameSkills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.skills {
  margin-left: 0.4rem;
  padding: 0.3rem;
  border-radius: 0.6rem;
  font-weight: 200;
  background-color: var(--lavender);
  color: var(--neutral-white);
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

.description {
  text-align: justify;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.buttons button {
  padding: 1rem;
  border-radius: 30px;
  font-weight: 700;
  background-color: var(--lavender);
  color: var(--neutral-white);
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.buttons button:hover {
  background-color: var(--deep-purple);
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

.closeButton {
  position: absolute;
  top: 5%;
  left: 95%;
  font-size: 1.5em;
  font-weight: 900;
  color: var(--medium-lavender);
}

.closeButton:hover {
  color: var(--lavender);
}

@media (max-width: 64em) {
  .projectModalContant {
    width: 80%;
    height: 80%;
    padding: 1rem;
  }

  .skills {
    margin-bottom: 0.4rem;
  }

  .projectImages img {
    width: 30vw;
    height: 20vh;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 48em) {
  .projectModalContant {
    width: 80%;
    height: 60%;
    padding: 1rem;
  }
}

@media (max-width: 30em) {
  .projectModalContant {
    width: 80%;
    height: 80%;
    padding: 1rem;
  }
}